
/******************* GENERAL *******************/

body {
	margin: 0;
	min-width: 960px;
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
}

a:visited, a:link, a:hover, a:active {
	color: #D50000;
	text-decoration: none;
}

/******************* SECTION *******************/

.section {
	width: 100%;
	height: 768px;
	position: relative;
	padding-top: 30px;
	padding-left: 30px;
}

.section-title {
	font-family: "Bangers";
	font-size: 6em;
	letter-spacing: 2px;
	padding: 30px 0px;
	text-align: center;
}

#raplibs.section-title{
	color: black;
}

#howitsmade.section-title{
	color: white;
}

#aboutme.section-title {
	color: #D50000;
}

#raplibs-section {
	background-color: #D50000;
}

#howitsmade-section {
	background-color: #181818;
}

#about-section {
	background-color: white;
}

#playsound {
	width: 0;
	height: 0;
}

/******************* NAVIGATION BAR *******************/

#navi-container {
    position: fixed;
    width: 100%;
    height: 30px;
    top: 0;
    z-index: 99;
    background-color: white;
    text-align: right;
    padding: 5px 0px;
}
.nav-link {
	font-family: "Bangers";
	font-size: 20px;
	color: #D50000;
	padding-right: 10px;
	background-color: white;
	letter-spacing: 3px;
}

/******************* RAPLIBS *******************/

#row-container {
	width: 900px;
	margin: 0 auto;
}

.row {
	padding: 100px 10px;
}

.rapper-img-container {
	height: 126px;
	width: 100px;
	overflow: hidden;
	margin: 10px 20px;
	display: inline-block;
	float: left;
}

.rapper-img {
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.hover {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-ms-transform: all .2s ease;
}
/******************* HOW ITS MADE *******************/
.steps-container {
	width: 900px;
	margin: 0 auto;
	height: 500px;
	overflow: hidden;
	position: relative;
}

#steps {
	width: 3600;
	height: 100%;
	margin-left: 0px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}

.steps-number {
	font-family: "Bangers";
	letter-spacing: 3px;
	font-size: 40px;
	position: absolute;
	color: white;
	width: 500px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
}

.steps-text {
	margin-top: 10px;
}

.steps-item {
	width: 900px;
	position: relative;
	height: 100%;
	float: left;
	text-align: justify;
	text-align: center;
}

#steps-next {
	position: absolute;
	width: 70px;
	height: 50px;
	right: 10px;
	top: 50%;
	margin-top: -20px;
	cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -ms-transition: all 0.5;
}

#steps-prev {
	position: absolute;
	width: 70px;
	height: 50px;
	left: 10px;
	top: 50%;
	margin-top: -20px;
	cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -ms-transition: all 0.5;
}
.stepbutton {
	width: 100%;
	height: 100%;
}

.steps-text {
	color: white;
	font-family: "Roboto Mono", monospace;
	font-size: 14px;
}

.sites {
	font-family: "Roboto Mono", monospace;
	font-size: 14px;
	font-weight: bold;
}

/******************* ABOUT ME *******************/

#about-container {
	position: absolute;
	color: white;
	width: 800px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
}

#aboutme-text {
	color: #181818;
	font-family: "Roboto Mono", monospace;
	font-size: 14px;
	text-align: center;
	float: left;
	width: 45%;
	padding: 20px 10px;
}

#self-container {
	display:inline-block;
	height: 360px;
	overflow: hidden;
	width: 45%;
	float: left;
	padding: 10px;
}

#self {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer
}

#itslittext {
	color: #D50000;

}

#spotify {
	text-align: center;
	width: 100%;
	padding: 25px 0px;
}
